## Задание 1
Оформляйте ноутбук, используя эти советы:
- Номер задачи - заголовок 2
- Номер подзадачи - заголовок 3
- Предоставленные наборы данных оформляйте, как код

```Code```

## Задание 2

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [14]:
def counting_fruits(**kwargs: int) -> int:
    return sum(kwargs.values())
counting_fruits(apple = 5, orange = 3, banana = 10)

18

## Задание 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

```[100, 125, -90, 345, 655, -1, 0, 200]```

Используйте list comprehensions

In [1]:
original_ad_costs = [100, 125, -90, 345, 655, -1, 0, 200]
ad_costs = [i for i in original_ad_costs if i >= 0]
ad_costs

[100, 125, 345, 655, 0, 200]

## Задание 4

Даны два списка.

Дата покупки

```['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']```

Суммы покупок по датам

```[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]```
### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [ ]:
date_purch = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29',
              '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
              '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
              '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
purch_sum = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004,
             2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [58]:
revenue_november = [purch_sum[i] for i in range(len(date_purch)) if '2021-11' in date_purch[i]]
sum(revenue_november)

25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [66]:
def revenue_month(date: list, purch: list) -> dict:
    res_dict = {}
    for i in range(len(date)):
        if date[i][0:7] in res_dict.keys():
            res_dict[date[i][0:7]] += purch[i]
        else:
            res_dict[date[i][0:7]] = purch[i]
    return res_dict
revenue_month(date_purch, purch_sum)

{'2021-09': 25647, '2021-12': 45452, '2021-10': 28645, '2021-11': 25098}

In [65]:
date_purch[0].split('-')[1]
# date_purch[0][0:7]

'09'

In [57]:
v = {'One': 1, 'Two': 2, 'Three': 3}
v['One'] += 12
v

{'One': 13, 'Two': 2, 'Three': 3}